<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/static/lib/skeleton/normalize.css" />
    <link rel="stylesheet" href="/static/lib/skeleton/skeleton.css" />
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <div class="container">
        <ul class="navigation">
            <li class="navigation-item">
                <a href="/">Homepage</a>
            </li>
            <li class="navigation-item">
                <a href="/test">Testpage</a>
            </li>
            <li class="navigation-item">
                <a href="/currency">Currency Exchange Table</a>
            </li>
        </ul>
        <div style="clear: both;">&nbsp;</div>

        {% block content %}{% endblock %}
    </div>
</body>
</html>