{% extends "layouts/main.html" %}

{% block content %}


<div class="row">
    <div class="four columns">
        <form method="get">
            <label for="curr_1">Currency 1: </label>
            <input type="text" name="curr_1" id="curr_1" value="{% if curr_1 != None %}{{ curr_1 }}{% endif %}" />

            <label for="curr_2">Currency 2: </label>
            <input type="text" name="curr_2" id="curr_2" value="{% if curr_2 != None %}{{ curr_2 }}{% endif %}" />

            <label for="rate">Exchange Rate:</label>
            <input type="text" name="rate" id="rate" value="{% if rate != None %}{{ rate }}{% endif %}"/>

            <br />

            <input type="submit" value="Calculate!" />
        </form>
    </div>
    {% if curr_1 != None and curr_2 != None and rate != none %}
    <div class="four columns">
        <table class="u-full-width">
            <thead>
                <tr>
                    <th>{{ curr_1 }}</th>
                    <th>{{ curr_2 }}</th>
                </tr>
            </thead>
            <tbody>
            {% for item in multiples %}
                <tr>
                    <td>{{ item[0] }}</td>
                    <td>{{ item[1] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="four columns">
        <table class="u-full-width">
            <thead>
                <tr>
                    <th>{{ curr_2 }}</th>
                    <th>{{ curr_1 }}</th>
                </tr>
            </thead>
            <tbody>
            {% for item in multiples2 %}
                <tr>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[0] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}