{% extends "layouts/main.html" %}

{% block content %}

    <h1>{{ person[1] }}, {{ person[0] }}</h1>

    {% for item in items %}
        <p>{{ item.name }} (Anzahl: {{ item.amount }} mal)</p>
    {% endfor %}

    <div class="row">
        <div class="six columns">
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th>Headline 1</th>
                        <th>Headline 2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Zelle 1</td>
                        <td>Zelle 2</td>
                    </tr>
                    <tr>
                        <td>123456</td>
                        <td>ABCDEF</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="six columns">
            2nd area
        </div>
    </div>

{% endblock %}