{% extends "layouts/main.html" %}

{% block content %}
    {% if name != None: %}
        <h1>Der Name ist: {{ name }}</h1>
    {% endif %}

    <form method="get">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" value="{% if name != None %}{{ name }}{% endif %}" />

        <label for="age">Age:</label>
        <input type="text" name="age" id="age" value="{% if age != None %}{{ age }}{% endif %}"/>

        <br />

        <input type="submit" value="Send!" />
    </form>
{% endblock %}